{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "keyword-spacing": "error",
    "linebreak-style": "error",
    "quotes": ["error", "single"],
    "semi": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "always"],
    "no-undef": "off",
    "no-unused-vars": "off",
    "prefer-const": "off"
  }
}
