a {
  display: block;
  text-decoration: none;
  color: white;
}

button {
  padding: 6px;
  margin-left: 3px;
  margin-right: 3px;
  color: white;
  background-color: #172421;
  border: 1px solid rgba(255,255,255,0.5);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: 50px;
  cursor: pointer;
}

button:disabled {
  background-color: #1e2e2a;
  color: grey;
}

.table {
  width: 70%;
}

.table .table-row {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgrey;
  align-items: center;;
}

.table .table-cell {
  padding: 0.5rem;
  flex: 1;
}

.table .first-col {
  flex: 5;
  font-weight: bold;
}

.bottom-actions {
  display: flex;
  justify-content: center;
  margin: 40px 10px 100px 10px;
}

.bottom-actions button {
  margin: 3px;
}

.navbar {
  padding: 5px 5px 5px 10vh;
  background-color: #3A6960;
  display: flex;
  align-items: center;

}

.navbar h1 {
  margin: 0px 30px 0px 0px;
}

.navbar .menu-items {
  width: 70%;
  display: flex;
}

.deck-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-edit {
  display: flex;
  flex-direction: column;
}

.card-edit form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card-edit form select {
  width: auto;
}

.card-edit .edit-row {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.card-edit .edit-row label {
  width: 20%;
  text-align: left;
}

.card-edit input {
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(255,255,255, 0.2);
  background-color: #282c34;
  color: white;
}

.card-edit #yesNoAnswers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.card-edit #yesNoAnswers label {
  width: auto;
  padding-right: 5px;
}

.card-edit #yesNoAnswers input {
  width: auto;
  margin-right: 15px;
}

.card-edit button {
  margin: 20px 5px 10px 5px;
}

.card-edit input:disabled {
  background-color: #3c414b;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz .top-actions {
  display: flex;
  justify-content: center;
  width: 70%;
}

.quiz .top-actions p {
  font-size: 16px;
}

.quiz-card {
  width: 70%;
}

.quiz-card .question-text {
  font-size: 24px;
  margin: 4em;
  margin-bottom: 2em;
  min-height: 5em;
}

.quiz-card .possible-answers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.quiz-card .bottom-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.clicked-incorrect {
  color: red;
  font-weight: bold;
  border: 3px solid red;
  background-color: white;;
}

.clicked-correct {
  color: green;
  font-weight: bold;
  border: 3px solid green;
  background-color: white;;
}